{% assign communications = site.data.data.communications %}
{% if communications %}
<section class="section communications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
    </span>
    {{ communications.title }}
  </h2>

  {% if communications.intro %}
  <div class="intro">
    {{ communications.intro | markdownify }}
  </div>{% endif %}

  <ul>
    {% for comm in communications.entries %}
    <div class="item" style="margin-bottom: 15px;">
      <li>
        {% if comm.link %}
          <a href="{{ comm.link }}" target="_blank">{{ comm.title }}</a>
        {% else %}
          {{ comm.title }}
        {% endif %}
      </li>
      
      <div class="publication-authors">
        {{ comm.type }}
      </div>
      
      <div class="publication-conference">
        {{ comm.time }}
      </div>

    </div>{% endfor %}
  </ul>

</section>{% endif %}